.login {
  .MuiTextField-root {
    background-color: white !important;
  }
}

.users__list {
  padding: 1rem;
  inline-size: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.users__user {
  // cursor: pointer;
  // &:hover {
  //   background-color: rgba(163, 163, 163, 0.5);
  // }
  margin: 0.25em;
  width: 12em;
  img {
    width: 12em;
  }
  p {
    margin: 0.5em 0;
  }
}
