.products__list {
  padding: 2rem;
  inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
  align-items: stretch;
}

.products__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background-color: rgba(163, 163, 163, 0.5);
  }
  width: 11em;
  img {
    border-radius: 10px;
    width: 11em;
  }
}

.products__number {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  // margin-bottom: 2em;
  button {
    color: white;
  }
  p {
    font-size: 2em;
    margin: 0;
  }
}

.singleProduct {
  img {
    border-radius: 10px;
    width: 20em;
  }
}
